* {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

:root {
    background-color: #8b6d9c;
}

html, .body {
    height: 100%;
}

.body {
    min-width: 288px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

a:link {
    text-decoration: none;
    color: #fbf5ef;
}

a:visited {
    text-decoration: none;
    color: #fbf5ef;
}

a:hover {
    text-decoration: none;
    color: #f2d3ab;
}

.content-wrapper{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.embed-center-wrapper{
    display: flex;
    margin: auto;
    justify-content: center;
}

.embed {
    min-height: 1130px;
}

.content {
    background-color: #494d7e;
    flex-grow: 1;
    height: 100%;
    width: 70%;
    color: #fbf5ef;
    align-content: center;
    justify-content: center;
    font-size: 25px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
}

.content-center {
    background-color: #494d7e;
    flex-grow: 1;
    min-width: 70%;
    max-width: 80%;
    color: #fbf5ef;
    align-content: center;
    text-align: center;
    font-size: 25px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
}

.project-content {
    width: 50%;
    float: left;
}

.header {
    top: 0;
    width: 100vw;
    background-color: #272744;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer {
    margin-top: auto;
    margin-bottom: 0;
    width: 100vw;
    background-color: #272744;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home_title {
    text-align: center;
    min-width: 350px;
    max-width: 500px;
    font-size: 40px;
    padding: 0px 0px 12px;
    justify-content: start;
}

.experience {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.experience-home {
    display: flex;
    height: 400px;
}

.dropdowns {
    padding-top: 40px;
    padding-right: 10%;
    height: 100%;
    font-size: 25px;
}

.dropdown_ele {
    margin: 10px;
}

.socials {
    height: 100%;
}

.socials_img {
    padding: 5px;
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.section-header {
    border-bottom: 1px solid #c69fa5;
    text-align: center;
    font-size: 45px;
    margin-bottom: 10px;
}

.project {
    margin: 8px;
    padding: 24px;
    width: calc(30% - 16px);
    height: 480px;
    border: none;
    cursor: pointer;
    white-space: pre-line;
    text-align: center;
    background-color: #272744;
    color: #fbf5ef;
    display: inline-block;
}

.project-home {
    margin: 8px;
    padding: 24px;
    min-width: 340px;
    height: 340px;
    border: none;
    cursor: pointer;
    white-space: pre-line;
    text-align: center;
    background-color: #272744;
    color: #fbf5ef;
    display: inline-block;
}

.project-card-text {
    font-size: 22px;
    overflow: hidden;
    color: #fbf5ef;
}

.project-card-title {
    font-size: 25px;
    color: #c69fa5;
}

.project_image {
    aspect-ratio: 3/2;
    margin-left: -24px;
    margin-top: -24px;
    width: calc(100% + 48px);
    display: inline-flex;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    overflow: hidden;
}

.expandable-img-container > img:hover{
    width: 800px;
    height: 400px;
}

