:root {
    background-color: rgb(23, 26, 25);
}

.content {
    background-color: gray;
    align-content: center;
    margin: 50px;
    padding: 30px;
}

.home_title {
    text-align: center;
    font-size: 60px;
}

.intro_content {
    display: flex;
}

.intro_header {
    text-decoration: underline;
    text-align: center;
    font-size: 45px;
}

.intro_paragraph {
    white-space: pre-line;
    float: left;
    font-size: 30px;
    padding-right: 20px;
}

.intro_portrait_img {
    float: right;
    height: 500px;
    width: 500px;
}

.projects_title {
    text-decoration: underline;
    text-align: center;
    font-size: 45px;
}

.project {
    white-space: pre-line;
    text-align: center;
}

.project_text {
    font-size: 40px;
}

.project_image {
    height: 500px;
    width: 600px;
    border-radius: 80px;
}